.movie-listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 32%;
    list-style: none;
    text-align: center;
    margin: .75rem .75rem .75rem 0;
    background-color: rgb(242, 245, 251);
    border-radius: 5px;
    &:hover {
      background-color: rgb(226, 230, 240);
    }
    img {
      height: 17rem;
      width: 13rem;
      margin-bottom: 1rem;
      margin-top: .75rem;
    }
  }
}

.search {
  margin-right: 1rem;
}

.movie-container {
  display: flex;
  flex-direction: row;
}

.movie-details {
  margin-left: 1rem;
}

.votes {
  label {
    padding-right: 1.25rem;
    padding-left: .2rem;
  }
}

.downvote {
  width: 100px;
  height: 100px;
}

.link {
  color: rgb(52, 54, 56);
  &:hover{
    text-decoration: none;
    color: rgb(60, 138, 211);
  }
}

@media screen and (max-width: 1030px) {
  .movie-listing{
    li {
      width: 45%;
    }
  }
}

@media screen and (max-width: 780px) {
  .movie-listing{
    li {
      width: 100%;
    }
  }

  .movie-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:  rgb(226, 230, 240);
    border-radius: 5px;
    box-shadow: 2px grey;
    div {
      margin: 1rem;
      //margin-left: 0;
    }
  }
}
